@use '../03-tokens/' as tokens;

.btn {
    display: inline-flex;
    font-family: var(--font-family-base);
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn--header {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 0.5rem 1rem;
}


.btn-filter {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 0.5rem 1rem;
    font-size: var(--font-size-sm);
    border: 1px solid var(--color-grey);
    border-radius: 0.5rem;

    &.is-active{
        background-color: var(--color-black);
        color: var(--color-white);
    }
}

.category-span {
    background-color: var(--color-low-grey);
    color: var(--color-black);
    padding: 0.5rem 1rem;
    font-size: var(--font-size-sm);
    border: 1px solid var(--color-grey);
    border-radius: 0.5rem;
}

.btn-configuration {
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-base);
    padding: 0.5rem;
    width: 100%;
}

