@use '../02-tools/functions' as tools;

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: #{tools.px-to-rem(8px)};
}

.btn--header {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: #{tools.px-to-rem(14px)} #{tools.px-to-rem(16px)};
    min-height: #{tools.px-to-rem(48px)};
    border-radius: #{tools.px-to-rem(4px)};
}


.btn-filter {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: #{tools.px-to-rem(8px)} #{tools.px-to-rem(16px)};
    font-size: var(--font-size-14);
    border: 1px solid var(--color-black);
    border-radius: #{tools.px-to-rem(4px)};
}

.btn-filter.is-active {
    background-color: var(--color-black);
    color: var(--color-white);
}

.btn-configuration {
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-16);
    padding: #{tools.px-to-rem(16px)};
    width: 100%;
    border-radius: #{tools.px-to-rem(4px)};
}

