@use '../03-tokens/' as tokens;

.title {
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
}

.title-page {
    font-size: var(--font-size-38);
}

.title-page-subtitle {
    font-size: var(--font-size-28);
}

.title-card {
    font-size: var(--font-size-24);
}

.text-card {
    font-size: var(--font-size-16);
}