@use '../02-tools/functions' as tools;
@use '../03-tokens/' as tokens;

.page-layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-inline: #{tools.conversion(48px)};
}

.catalog-header {
    display: flex;
    flex-direction: column;
    gap: #{tools.conversion(24px)};
    padding-top: #{tools.conversion(48px)};
    padding-bottom: #{tools.conversion(32px)};
    
}

.filters {
    display: flex;
    gap: #{tools.conversion(16px)};
}

.distribution {
    // Vista Movil
    display: grid;
    grid-template-columns: 1fr;
    gap: #{tools.conversion(8px)};

    // Vista Tables
    @media (min-width: tokens.$break-768){
        grid-template-columns: repeat(2, 1fr);
    }

    // Vista Ordenador
    @media (min-width: tokens.$break-1200){
        grid-template-columns: repeat(3, 1fr);
    }
}
