@use '../02-tools/functions' as tools;

.footer {
    background-color: var(--color-low-grey);
    border-top: 1px solid var(--color-grey);
}

.footer__links {
    padding: #{tools.conversion(32px)};
    display: flex;
    justify-content: center;
    gap: #{tools.conversion(16px)};
}