@use '../03-tokens/' as tokens;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--color-low-grey);
}

.header__logo {
    width: var(--icon-size-lg);
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__user {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.header__menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header__menu-bar {
    width: var(--icon-size-base);
    height: var(--icon-size-xs);
    background-color: var(--color-black);
}