@use '../02-tools/functions' as tools;
@use '../03-tokens/' as tokens;


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: #{tools.conversion(16px)};
    background-color: var(--color-low-grey);
}

.header__logo {
    width: #{tools.conversion(70px)};
}

.header__actions {
    display: flex;
    align-items: center;
    gap: #{tools.conversion(32px)};
}

.header__user {
    display: flex;
    align-items: center;
    gap: #{tools.conversion(16px)};
}

.header__user-icon {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
}


.header__menu {
    display: flex;
    flex-direction: column;
    gap: #{tools.conversion(5px)};
}

.header__menu-bar {
    width: var(--icon-size-base);
    height: var(--icon-size-xs);
    background-color: var(--color-black);
}

.header__cta,
.header__user {
    display: none;

    @media (min-width: tokens.$break-768) {
        display: flex;
    }
}