@use '../02-tools/functions' as tools;

.subscription {
    background-color: var(--color-low-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: #{tools.conversion(24px)};
    padding: #{tools.conversion(48px)};
}

.form{
    display: flex;
    flex-direction: column;
    gap: #{tools.conversion(8px)};
}

.form__field {
    display: flex;
    gap: #{tools.conversion(8px)};
}