@use '../02-tools/functions' as tools;

@mixin fonts {
    --font-family-base: Arial;


    --font-size-38: #{tools.px-to-rem(38px)};
    --font-size-28: #{tools.px-to-rem(28px)};
    --font-size-24: #{tools.px-to-rem(24px)};
    --font-size-16: #{tools.px-to-rem(16px)};
    --font-size-14: #{tools.px-to-rem(14px)};
    --font-size-12: #{tools.px-to-rem(12px)};

    // Pesos de la fuente (Font Weights)
    --font-weight-normal: 400;
    --font-weight-bold:   700;
}