@use '../02-tools/functions' as tools;

:root {
    --font-family-base: Arial;


    --font-size-xl: #{tools.conversion(38px)};
    --font-size-lg: #{tools.conversion(28px)};
    --font-size-lm: #{tools.conversion(24px)};
    --font-size-base: #{tools.conversion(16px)};
    --font-size-sm: #{tools.conversion(14px)};
    --font-size-xs: #{tools.conversion(12px)};

    // Pesos de la fuente (Font Weights)
    --font-weight-normal: 400;
    --font-weight-bold:   700;
}