@use '../02-tools/functions' as tools;

:root {
    --font-family-base: Arial, Helvetica, sans-serif;


    --font-size-xl: #{tools.conversion(32px)};
    --font-size-lg: #{tools.conversion(20px)};
    --font-size-base: #{tools.conversion(16px)};
    --font-size-sm: #{tools.conversion(14px)};
    --font-size-xs: #{tools.conversion(12px)};

    // Pesos de la fuente (Font Weights)
    --font-weight-normal: 400;
    --font-weight-bold:   700;
}