@use '../02-tools/functions' as tools;
:root {
    
    --icon-size-xs: #{tools.conversion(2px)};
    --icon-size-sm: #{tools.conversion(14px)};
    --icon-size-base: #{tools.conversion(22px)};
    --icon-size-md: #{tools.conversion(24px)};
    --icon-size-lg: #{tools.conversion(64px)};
}