@use '../02-tools/functions' as tools;

@mixin icons {
    
    --icon-size-2: #{tools.px-to-rem(2px)};
    --icon-size-14: #{tools.px-to-rem(14px)};
    --icon-size-22: #{tools.px-to-rem(22px)};
    --icon-size-24: #{tools.px-to-rem(24px)};
    --icon-size-64: #{tools.px-to-rem(64px)};
}