@use '../02-tools/functions' as tools;
:root {
    
    --icon-size-xs: #{tools.px-to-rem(2px)};
    --icon-size-sm: #{tools.px-to-rem(14px)};
    --icon-size-base: #{tools.px-to-rem(22px)};
    --icon-size-md: #{tools.px-to-rem(24px)};
    --icon-size-lg: #{tools.px-to-rem(64px)};
}