*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

img, picture, video, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
}

button {
  background-color: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
}

input {
  border: 1px solid;
  font: inherit;
}

li, ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --color-white: #fff;
  --color-low-grey: #f5f5f5;
  --color-grey: #bfbfbf;
  --color-strong-grey: #535151;
  --color-black: #242221;
  --color-red: #e00000;
  --color-blue: #1E24BD;
}

:root {
  --font-family-base: Arial;
  --font-size-xl: 2.375rem;
  --font-size-lg: 1.75rem;
  --font-size-lm: 1.5rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

:root {
  --icon-size-xs: 0.125rem;
  --icon-size-sm: 0.875rem;
  --icon-size-base: 1.375rem;
  --icon-size-md: 1.5rem;
  --icon-size-lg: 4rem;
}

.btn {
  display: inline-flex;
  font-family: var(--font-family-base);
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn--header {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.875rem 1rem;
}

.btn-filter {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 0.5rem 1rem;
  font-size: var(--font-size-sm);
  border: 1px solid var(--color-grey);
  border-radius: 0.5rem;
}
.btn-filter.is-active {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn-configuration {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--font-size-base);
  padding: 0.5rem;
  width: 100%;
}

.images-responsive {
  max-width: 100%;
  height: auto;
}

.title {
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}

.title-page {
  font-size: var(--font-size-xl);
}

.title-page-subtitle {
  font-size: var(--font-size-lg);
}

.title-card {
  font-size: var(--font-size-lm);
}

.text-card {
  font-size: var(--font-size-base);
}

.tag {
  display: inline-flex;
  border: 1px solid var(--color-low-grey);
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  color: var(--color-strong-grey);
  background-color: var(--color-low-grey);
}

.link-text {
  color: var(--color-blue);
  font-size: var(--font-size-sm);
  text-decoration: underline;
}

.input {
  border: 1px solid var(--color-grey);
  padding: 0.75rem;
  font-size: var(--font-size-sm);
}

.card {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-options {
  display: flex;
  gap: 0.5rem;
}

.card-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-price-discount {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-red);
}

.card-price-icon {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.card-image {
  width: 100%;
  display: block;
}

.page-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-inline: 2rem;
}

.catalog-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.filters {
  display: flex;
  gap: 1rem;
}

.distribution {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-bottom: 4rem;
}
@media (min-width: 48rem) {
  .distribution {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 75rem) {
  .distribution {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-low-grey);
}

.header__logo {
  width: 4.375rem;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__user-icon {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

.header__menu {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.header__menu-bar {
  width: var(--icon-size-base);
  height: var(--icon-size-xs);
  background-color: var(--color-black);
}

.footer {
  background-color: var(--color-low-grey);
  border-top: 1px solid var(--color-grey);
}

.footer__links {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.subscription {
  background-color: var(--color-low-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__field {
  display: flex;
  gap: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
