.card {
    background-color: var(--color-white);
    display: flex;  
    flex-direction: column;
    gap: 1rem; 
    border-radius: 0.5rem;
}

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.card-options {
    display: flex;
    gap: 0.5rem;
}

.card-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-price-discount {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-red);
}

.card-price-icon {
    width: 0.875rem;
    height: 0.875rem;
}

.card-link {
    color: blue;
    font-size: var(--font-size-sm);
    text-decoration: underline;
}

.card-image {
    width: 100%;
    display: block;
}