@use '../02-tools/functions' as tools;

.card {
    display: flex;  
    flex-direction: column;
    gap: #{tools.px-to-rem(16px)}; 
    background-color: var(--color-white);
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: #{tools.px-to-rem(16px)};  
}

.card-options {
    display: flex;
    gap: #{tools.px-to-rem(8px)}; 
}

.card-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-price-discount {
    display: flex;
    align-items: center;
    gap: #{tools.px-to-rem(16px)}; 
    color: var(--color-red);
}

.card-price-vat {
    font-size: var(--font-size-14);
}

.card-price-icon {
    width: var(--icon-size-14);
    height: var(--icon-size-14);
}

.card-image {
    width: 100%;
    display: block;
    border-radius: #{tools.px-to-rem(4px)};
}